{% extends 'header.html' %}
{% load static %}
 
{% block title %}Account List{% endblock %}
 
{% block extracss %}
    <link rel="stylesheet" href="{% static 'accounts/css/customer_accounts_list_view.css' %}">
{% endblock %}
 
{% block content %}
 
 
    <!-- Display form errors -->
    {% if form.errors %}
        <div class="error-messages">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
 
  <!-- --------------------------Site form - 3rd layer------------------------------- -->
 
  <div id="popup" class="popup">
    <div class="popup-block">
      <img
        class="img-logo"
        src="{% static "project_site/images/logo.png" %}"
        alt="logo"
        loading="lazy"
      />
      <div class="popup-heading">Update Project Sites</div>
    </div>
 
    <div class="req-info">
      <span class="text-danger">* </span>= Required
      Information
    </div>
    <!-- -------------------------- Form Begin -------------------------------------- -->
    <form method="post">
      {% csrf_token %}
      <div class="block-name">&nbsp Information</div>
 
      <div class="info-block">
          <div class="sub-block">
              <label for="id_ps_name"><span class="text-danger">*</span>Name</label>
              <input type="text" id="id_ps_name" name="ps_name" placeholder="Site name" class="input-height" aria-label="Site name" value="{{ account.ps_name }}"/>
          </div>
          <div class="sub-block">
              <label for="id_ps_project"><span class="text-danger">*</span>Project</label>
              <div class="">
                  <input type="search" id="id_ps_project" name="ps_project" class="search-type input_felid_border width-100" placeholder="Search projects..." aria-label="Project name" value="{{ account.ps_project }}"/>
                  <input type="hidden" id="id_ps_project_uuid" name="ps_project_uuid" value="{{ account.ps_project_uuid }}"/> <!-- Hidden input to store UUID -->
                  <ul id="suggestions-list"></ul><br>
              </div>
          </div>
          <div class="sub-block">
            <label for="id_ps_working_days"><span class="text-danger">*</span>Working Days</label>
            <div class="">
                <select id="id_ps_working_days" name="ps_working_days" multiple class="width-100 multiple-select-style">
                    {% for choice in form.ps_working_days.field.choices %}
                    <option class="selectday-option" value="{{ choice.0 }}" {% if choice.0 in form.ps_working_days.value %} selected {% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
              {% comment %} <label for="id_ps_working_days"><span class="text-danger">*</span>Working Days</label>
              <div class="">
                  <select id="id_ps_working_days" name="ps_working_days" multiple class="width-100 multiple-select-style">
                      {% for choice in form.ps_working_days.field.choices %}
                      <option class="selectday-option" value="{{ choice.0 }}" {% if choice.0 == form.ps_working_days.value %} selected {% endif %}>{{ choice.1 }}</option>
                      {% endfor %}
                  </select> {% endcomment %}
                  <div class="">
                      <input class="form-check-input" type="checkbox" id="selectAll"/>
                      <label class="form-check-label" for="selectAll">Select All</label>
                      <input class="form-check-input"  type="checkbox" id="select_working_day"/>
                        <label class="form-check-label"  for="select_working_day">Working Days</label>
                  </div>
              </div>
          </div>
          <div class="sub-block4">
              <label for="id_ps_business_start_time" class="width-100"><span class="text-danger">*</span>Business Start Time</label>
              <select id="id_ps_business_start_time" name="ps_business_start_time" class="form-select width-100 multiple-select-style">
                  {% for choice in form.ps_business_start_time.field.choices %}
                  <option class="select-style" value="{{ choice.0 }}" {% if choice.0 == form.ps_business_start_time.value %} selected {% endif %}>{{ choice.1 }}</option>
                  {% endfor %}
              </select>
              <label for="id_ps_business_end_time" class="width-100"><span class="text-danger">*</span>Business End Time</label>
              <select id="id_ps_business_end_time" name="ps_business_end_time" class="form-select width-100 multiple-select-style">
                  {% for choice in form.ps_business_end_time.field.choices %}
                  <option class="select-style" value="{{ choice.0 }}" {% if choice.0 == form.ps_business_end_time.value %} selected {% endif %}>{{ choice.1 }}</option>
                  {% endfor %}
              </select>
          </div>
      </div>
 
      <div class="block-name">&nbsp Site Address Information</div>
      <div class="site-add-info">
          <div class="sub-block">
              <label for="id_ps_address" class="width-100"><span class="text-danger">*</span>Address</label>
              <textarea class="textarea" id="id_ps_address" name="ps_address" rows="3">{{ account.ps_address }}</textarea>
          </div>
          <div class="sub-block">
              <label for="id_ps_ZIP_site_classification" class="width-100"><span class="text-danger">*</span>Site Classification</label>
              <select id="id_ps_ZIP_site_classification" name="ps_ZIP_site_classification" class="site-class-style width-100 multiple-select-style">
                  {% for choice in form.ps_ZIP_site_classification.field.choices %}
                  <option class="select-style" value="{{ choice.0 }}" {% if choice.0 == form.ps_ZIP_site_classification.value %} selected {% endif %}>{{ choice.1 }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="sub-block">
              <label for="id_ps_country" class="width-100">Country</label>
              <select class="form-select country" id="id_ps_country" name="ps_country" aria-label="country">
                  {% for choice in form.ps_country.field.choices %}
                  <option value="{{ choice.0 }}" {% if choice.0 == form.ps_country.value %} selected {% endif %}>{{ choice.1 }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="sub-block">
              <label for="id_ps_state" class="width-100">State</label>
              <select class="form-select state" id="id_ps_state" name="ps_state" aria-label="state">
                  {% for choice in form.ps_state.field.choices %}
                  <option value="{{ choice.0 }}" {% if choice.0 == form.ps_state.value %} selected {% endif %}>{{ choice.1 }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="sub-block">
              <label for="id_ps_city" class="width-100">City</label>
              <input type="text" id="id_ps_city" name="ps_city" class="input-height" placeholder="Enter City" aria-label="City" value="{{ account.ps_city }}"/>
          </div>
          <div class="sub-block">
              <label for="id_ps_ZIP_postal_Code" class="width-100">Zip-code</label>
              <input type="text" id="id_ps_ZIP_postal_Code" name="ps_ZIP_postal_Code" class="input-height" placeholder="Zip Code" aria-label="Zip Code" value="{{ account.ps_ZIP_postal_Code }}"/>
          </div>
      </div>
 
      <br />
      <div class="Submit_buttons_box">
         
          <a href="{% url 'project_site:project_site_list_view' %}" class="Submit_buttons">Cancel</a>
          <button type="submit" class="Submit_buttons">Save</button>
      </div>
  </form>
  </div>
  <!-- ----------------------------Overlay - 2nd layer-------------------------------- -->
  <div id="overlay" class="overlay"></div>
 
 
  <style>
    *{
        font-size:small;
    }
    .info-block {
        display: grid;
        /* grid-template-rows: 0.5fr 1.5fr;
        grid-template-columns: 1fr 1fr; */
        row-gap: 1rem;
        column-gap: 1rem;
        color: black;
        min-width: none;
    }
    .sub-block{
        display: grid;
        /* grid-template-columns: 1fr 1.5fr; */
    }
   
    .sub-block4{
        display: grid;
        /* grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1fr; */
        row-gap: 1rem;
    }
   
    .site-add-info{
        display: grid;
        /* grid-template-rows: 1.5fr 1fr 1fr;
        grid-template-columns: 1fr 1fr; */
        row-gap: 1rem;
        column-gap: 1rem;
        color: black;
        min-width: none;
    }
   
   
    @media( min-width: 856px ){
        .info-block {
       
            grid-template-rows: 0.5fr 1.5fr;
            grid-template-columns: 1fr 1fr;
   
        }
        .sub-block{
   
            grid-template-columns: 1fr 1.5fr;
        }
       
        .sub-block4{
           
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 1fr 1fr;
        }
       
        .site-add-info{
            grid-template-rows: 1.5fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }
   
        .other-info-block {
            grid-template-columns: 1fr 1fr;
        }
    }
   
    .popup input:focus, select:focus, .textarea:focus {
        outline: none; /* Remove default outline */
        border: 1px solid grey;
        box-shadow: 0 0 10px #d1a2a2;
   
    }
 
   
    .textarea{
        height: 5rem;
        border-radius: 5px;
        border: 1px solid grey;
    }
   
   
   
    .width-100{
        width: 100%;
    }
   
    .text-danger{
        color: red;
    }
    .search-project{
        width: 100%;
        height: 2.5rem;
       border: 1p0x solid grey;
       
    }
   
    .selectday-option{
        padding: 0.3rem 0.4rem;
    }
   
    .input-height{
        height: 2.5rem;
        border-radius: 5px;
        border: 1px solid grey;
    }
   
    .form-select{
        height: 2.5rem;
        border-radius: 5px;
        border: 1px solid grey;
    }
   
    .multiple-select-style{
        padding: 0.4rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: 1px solid grey;
    }
   
    .search-type{
        width: 100%;
        height: 2.5rem;
        border: 1px solid rgba(128, 128, 128, 0.87);
    }
 
    .popup {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        padding: 0px 20px 0px 20px;
        border: 1px solid #ccc;
        z-index: 100;
        width: 70% ;
        max-height: 80%;
        overflow-y: auto;
    }
    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 90;
    }
   
    .req-info{
        margin: 1rem;
        text-align: right;
        font-size: 1rem;
    }
   
    .block-name{
        background-color: rgb(223, 216, 216);
        font-size: large;
        margin-block: 0.9rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
    }
   
    /* from heading */
    .popup-block{
        position: sticky;
        top: 0;
        background: white;
        padding: 1rem 0;
        border-bottom: 0.06rem solid #ccc;
        height: 5rem;
    }
   
    .popup-heading{
        text-align: center;
        margin-top: 1rem;
        height: 1.5rem;
        font-size: 1.5rem;
        font-weight: 100;
    }
   
    .option-style{
        border: none;
        padding-left: 0.5rem;
    }
    .select-style{
        width: 230px;
        height: auto;
        margin-top: 1rem;
        scrollbar-width: none;
        padding: 0px;  
    }
   
    .working-day-style{
        margin: 0%;
    }
 
    .Submit_buttons {
        background-color: rgb(10, 91, 138);
        color: red;
        border-radius: 5px;
        border: none;
        padding: 0.4rem 0.8rem;
        text-decoration: none;
        border:1px solid red;
        background:white;
        position:sticky;
        bottom:-1;
        width: 7%;
       
    }
 
 
    .Submit_buttons:hover{
        background: red;
        color:white;
        border: 1px solid white;
    }
    .Submit_buttons_box {
        display:flex;
        justify-content:center;
        gap:10px;
        position: sticky;
        bottom: -2;
        background: white;
        padding: 15px 0px;
        border-top: 1px solid #ccc;
        bottom:0;
        }
     
        form{
            padding-bottom:0;
            margin-bottom:0;
        }
   
    .img-logo{
        /* height: 4rem; */
        /* width: auto; */
        height: 40px;
        margin-top: 0.5%;
        margin-left: 0.5%;
        float: left;
        position: fixed;
        position: sticky;
    }
    .input_felid_border{
        border: 1px solid rgba(128, 128, 128, 0.89);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
 
    {% comment %} search box style {% endcomment %}
    .result-box{
        max-height: 110px;
        overflow-y: scroll;
    }
 
    .result-box ul{
        padding: 5px 1px;
    }
 
    .result-box ul li{
        font-size:small;
        list-style: none;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        padding: 5px 1px;
        cursor: pointer;
    }
    .result-box ul li:hover{
        background: #d8d8d854;
        color: rgb(0, 0, 0);
    }
    .form-check-label{
        margin-right:0.5rem;
    }
    .form-check-input{
        margin-right: 0.5rem;
        border:1px solid grey;
    }
</style>
 
  <!-- jQuery (required for Bootstrap) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 
 
  <script src="js/site_creation_forml.js"></script>
 
<script>
  const selectAllCheckbox = document.getElementById('selectAll');
  const daysSelect = document.getElementById('id_ps_working_days');
  const daysOptions = daysSelect.querySelectorAll('option');
 
  selectAllCheckbox.addEventListener('change', function() {
    if (this.checked) {
      daysOptions.forEach(option => {
        option.selected = true;
      });
    } else {
      daysOptions.forEach(option => {
        option.selected = false;
      });
    }
  });
 
  daysSelect.addEventListener('change', function() {
    const allSelected = [...daysOptions].every(option => option.selected);
    selectAllCheckbox.checked = allSelected;
  });
 
  const selectweekdaysCheckBox = document.getElementById('select_working_day');
  const WORKING_DAYS = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
  const workingDaysoption = []
  daysOptions.forEach(option => {
    if (WORKING_DAYS.includes(option.value)) {
        workingDaysoption.push(option);
    }
});
 
selectweekdaysCheckBox.addEventListener('change', function() {
    if (this.checked) {
      workingDaysoption.forEach(option => {
        option.selected = true;
      });
    } else {
      workingDaysoption.forEach(option => {
        option.selected = false;
      });
    }
  });
 
  daysSelect.addEventListener('change', function() {
    const allSelected = [...workingDaysoption].every(option => option.selected);
    selectAllCheckbox.checked = allSelected;
  });
 
</script>
 
 
<script>
  $(document).ready(function(){
      // Function to handle suggestions and selection for a given input field
      function setupAutocomplete(inputFieldId, suggestionsListId, hiddenFieldId, ajaxUrl) {
          $(inputFieldId).on('input', function(){
              var query = $(this).val();
              if (query.length >= 3) {
                  $.ajax({
                      url: ajaxUrl,
                      data: {'query': query},
                      dataType: 'json',
                      success: function(data) {
                          var suggestions = data.suggestions;
                          $(suggestionsListId).empty();
                          for (var i = 0; i < suggestions.length; i++) {
                              var suggestion = suggestions[i];
                              $(suggestionsListId).append('<li data-account-id="' + suggestion.account_id + '">' + suggestion.account_name + '</li>');
                          }
                          $(suggestionsListId + ' li').on('click', function() {
                              var selectedAccountId = $(this).data('account-id');
                              var selectedAccountName = $(this).text();
                              $(inputFieldId).val(selectedAccountName); // Set the display name
                              $(hiddenFieldId).val(selectedAccountId); // Store the UUID in hidden input
                              $(suggestionsListId).empty();
                          });
                      },
                      error: function(xhr, status, error) {
                          console.error('AJAX Error:', status, error);
                      }
                  });
              } else {
                  $(suggestionsListId).empty();
              }
          });
      }
 
      // Apply autocomplete for ps_project
      setupAutocomplete('#id_ps_project', '#suggestions-list', '#id_ps_project_uuid', '{% url "project_site:customer_project_suggestions" %}');
 
      // Form submission handling
      $('#ProjectSiteForm').on('submit', function(event) {
          event.preventDefault(); // Prevent default form submission
 
          // Submit the form using Ajax
          $.ajax({
              url: $(this).attr('action'),
              type: $(this).attr('method'),
              data: $(this).serialize(), // Serialize form data including CSRF token
              success: function(response) {
                  console.log('Form submitted successfully');
                  // Optionally handle success response, e.g., redirect
              },
              error: function(xhr, status, error) {
                  console.error('Form submission error:', status, error);
                  // Optionally handle error response
              }
          });
      });
  });
  </script>
 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
        // Functionality for billing country change
        $('#id_ps_country').change(function() {
            var countryId = $(this).val();
            $.ajax({
                url: '{% url "accounts:get_states_by_country" %}',  // Correct URL path
                data: {
                    'country_id': countryId
                },
                dataType: 'json',
                success: function(data) {
                    $('#id_ps_state').empty(); // Clear previous options
                    $('#id_ps_state').append('<option value="">Select State</option>'); // Add a default option
                    $.each(data, function(index, state) {
                        $('#id_ps_state').append('<option value="' + state.id + '">' + state.name + '</option>');
                    });
                }
            });
        });
 
        // Functionality for shipping country change
        $('#id_ps_country').change(function() {
            var countryId = $(this).val();
            $.ajax({
                url: '{% url "accounts:get_states_by_country" %}',  // Correct URL path
                data: {
                    'country_id': countryId
                },
                dataType: 'json',
                success: function(data) {
                    $('#id_ps_state').empty(); // Clear previous options
                    $('#id_ps_state').append('<option value="">Select State</option>'); // Add a default option
                    $.each(data, function(index, state) {
                        $('#id_ps_state').append('<option value="' + state.id + '">' + state.name + '</option>');
                    });
                }
            });
        });
    });
  </script>
 
{% endblock %}