{% extends 'header.html' %}
{% load static %}
 
{% block title %}Account List{% endblock %}
 
{% comment %} {% block extracss %}
    <link rel="stylesheet" href="{% static 'accounts/css/customer_accounts_list_view.css' %}">
{% endblock %} {% endcomment %}
 
{% block content %}
 
 
    <!-- Display form errors -->
    {% if form.errors %}
        <div class="error-messages">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
 
 
<div id="popup" class="form_block">
    <!-- <a class="cross" href="">&times;</a> -->
 
    <div class="popup-header-block">
      <img class="form_logo" src="{% static 'accounts/images/logo.png' %}" alt="">
      <div class="popup-heading">
        New Account: Customer
      </div>
    </div>
 
    <div class="req-info">
        <span class="text-danger">* </span>= Required
        Information
      </div>
 
    <form method="post">
        {% csrf_token %}
         <div class="block-name">Account Information </div>
 
         <div class="block">
            <div class="sub-block">
                <label class="width-100" for="id_ca_name"><span class="text-danger">* </span>Account Name:</label>
                <input class="input-height" type="text" id="id_ca_name" name="ca_name">
            </div>
            <div class="sub-block">
                <label for="id_ca_spoc_name">SPOC Name:</label>
                <input class="input-height" type="text" id="id_ca_spoc_name" name="ca_spoc_name">
            </div>
            <div class="sub-block">
                <label for="id_ca_spoc_phone_number">SPOC Contact Number:</label>
                <input class="input-height" type="text" id="id_ca_spoc_phone_number" name="ca_spoc_phone_number">
            </div>
            {% comment %} <div class="sub-block">
                <label for="id_ca_phone_number">Phone Number:</label>
                <input class="input-height" type="text" id="id_ca_phone_number" name="ca_phone_number">
            </div> {% endcomment %}
            <div class="sub-block">
                <label for="id_ca_type"><span class="text-danger">* </span>Account Type:</label>
                <select class="form-select-style" id="id_ca_type" name="ca_type" required>
                    {% for choice in form.ca_type.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == form.ca_type.value %} selected {% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
 
         </div>
 
         <br/>
 
        {% comment %} <div class="block-name">
            Account Other Information
        </div> {% endcomment %}
 
        <div class="block">
 
            <div class="sub-block">
                <label for="id_ca_industray">Industry:</label>
          <select class="form-select-style" id="id_ca_industray" name="ca_industray">
              {% for choice in form.ca_industray.field.choices %}
                  <option value="{{ choice.0 }}" {% if choice.0 == form.ca_industray.value %} selected {% endif %}>{{ choice.1 }}</option>
              {% endfor %}
          </select>
            </div>
            <div class="sub-block">
                <label for="id_ca_payment_terms"><span class="text-danger">* </span>Payment Terms:</label>
          <select class="form-select-style" id="id_ca_payment_terms" name="ca_payment_terms" required>
              {% for choice in form.ca_payment_terms.field.choices %}
                  <option value="{{ choice.0 }}" {% if choice.0 == form.ca_payment_terms.value %} selected {% endif %}>{{ choice.1 }}</option>
              {% endfor %}
          </select>
            </div>
            <div class="sub-block">
                <label for="id_record_type">Account Record Type:</label>
            <input class="input-height" type="text" id="id_record_type" name="record_type" value="Customer" readonly>
            </div>
            <div class="sub-block">
                <label for="id_ca_account_owner">Account Owner:</label>
                <input class="input-height" type="text" id="id_ca_account_owner" name="ca_account_owner">
            </div>
            {% comment %} <div class="sub-block">
                <label for="id_ca_customer_code">Customer Code:</label>
            <input class="input-height" type="text" id="id_ca_customer_code" name="ca_customer_code">
            </div> {% endcomment %}
            {% comment %} <div class="sub-block">
                <label for="id_ca_description">Customer Description:</label>
            <input class="input-height" type="text" id="id_ca_description" name="ca_description">
            </div> {% endcomment %}
        </div>
 
      {% comment %} <div class="block-name">
        Address Information
    </div>
 
    <div class="block">
        <div class="sub-block">
            <label class="width-100" for="id_ca_billing_address">Billing Address:</label>
            <input class='input-height' type="text" id="id_ca_billing_address" name="ca_billing_address">
        </div>
        <div class="sub-block">
            <label class="width-100" for="id_ca_shipping_address">Shipping Address:</label>
            <input class='input-height' type="text" id="id_ca_shipping_address" name="ca_shipping_address">
        </div>
 
        <div class="sub-block">
            <labe class="width-100"l for="id_ca_billing_country">Billing Country:</labe>
            <select class="form-select-style width-100" id="id_ca_billing_country" name="ca_billing_country" required>
                {% for choice in form.ca_billing_country.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == form.ca_billing_country.value %} selected {% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="sub-block">
            <label class="width-100" for="id_ca_shipping_country">Shipping Country:</label>
            <select class="form-select-style width-100" id="id_ca_shipping_country" name="ca_shipping_country" required>
                {% for choice in form.ca_shipping_country.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == form.ca_shipping_country.value %} selected {% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
 
        <div class="sub-block">
            <label class="width-100" for="id_ca_billing_state">Billing State/Province:</label>
            <select class="form-select-style width-100" id="id_ca_billing_state" name="ca_billing_state" required>
                {% for choice in form.ca_billing_state.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == form.ca_billing_state.value %} selected {% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="sub-block">
            <label class="width-100" for="id_ca_shipping_state">Shipping State:</label>
            <select class="form-select-style width-100" id="id_ca_shipping_state" name="ca_shipping_state" required>
                {% for choice in form.ca_shipping_state.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == form.ca_shipping_state.value %} selected {% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
 
        <div class="sub-block">
            <label class="width-100" for="id_ca_billing_street">Billing Street:</label>
            <input class='input-height' type="text" id="id_ca_billing_street" name="ca_billing_street">
        </div>
        <div class="sub-block">
            <label class="width-100" for="id_ca_shipping_street">Shipping Street:</label>
            <input class='input-height' type="text" id="id_ca_shipping_street" name="ca_shipping_street">
        </div>
 
        <div class="sub-block">
            <label class="width-100" for="id_ca_billing_city">Billing City:</label>
            <input class='input-height' type="text" id="id_ca_billing_city" name="ca_billing_city">
        </div>
        <div class="sub-block">
            <label class="width-100" for="id_ca_shipping_city">Shipping City:</label>
            <input class='input-height' type="text" id="id_ca_shipping_city" name="ca_shipping_city">
        </div>
 
        <div class="sub-block">
            <label class="width-100" for="id_ca_billing_pin_code">Billing City Pin Code:</label>
            <input class='input-height' type="text" id="id_ca_billing_pin_code" name="ca_billing_pin_code">
        </div>        
        <div class="sub-block">
            <label class="width-100" for="id_ca_shipping_pin_code">Shipping City Pin Code:</label>
            <input class='input-height' type="text" id="id_ca_shipping_pin_code" name="ca_shipping_pin_code">
        </div>
    </div>  {% endcomment %}
      <br />
 
          <!-- Display form errors -->
    {% if form.errors %}
    <div class="error-messages">
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
 
      <div class="Submit_buttons_box">
       
        <!-- <button class="Submit_buttons" onclick="closePopup_selection_account()">Cancel</button> -->
        <a href="{% url 'accounts:customer_accounts_list_view' %}" class="Submit_buttons">Cancel</a>
        <button type="submit" class="Submit_buttons">Save</button>
    </div>
    </form>
  </div>
 
  <div id="overlay" class="overlay"></div>
 
 
 
 
 
<style>
 
   
 
  *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
   }
 
   .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
   }
 
    .form_block {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        padding: 0px 20px 0px 20px;
        border: 1px solid #ccc;
        border-radius: 0px ;
        z-index: 9999;
        width: 70%;
        max-height: 80%;
        overflow-y: auto;
        /* Enable vertical scrollbar when content exceeds the maximum height */
    }
 
    /* from heading */
    .popup-header-block{
        position: sticky;
        top: 0;
        background: white;
        padding: 0.2rem 0;
        border-bottom: 0.06rem solid #ccc;
        height: 4rem;
    }
 
    .form_block input:focus,
    select:focus,
    textarea:focus {
        outline: none;
        box-shadow: 0 0 10px #d1a2a2;
    }
 
    .form_logo{
        height: 40px;
        width: auto;
        margin-top: 0.5%;
        margin-left: 0.5%;
        float: left;
        }
 
    .popup-heading{
        display:flex;
        justify-content:center;  
        text-align: center;
        height: 1.5rem;
        font-size: 1.5rem;
        font-weight: 100;
        padding-top:0.5rem;
    }
 
 
 
    .Submit_buttons {
        background-color: rgb(10, 91, 138);
        color: #d12222;
        border-radius: 5px;
        border: none;
        padding: 0.4rem 0.8rem;
        text-decoration: none;
        border:1px solid #d12222;
        background:white;
        position:sticky;
        bottom:-1;
       
    }
 
 
    .Submit_buttons:hover{
        background: #d12222;
        color:white;
        border: 1px solid white;
    }
 
 
    .Submit_buttons_box {
    display:flex;
    justify-content:center;
    gap:10px;
    position: sticky;
    bottom: -2;
    background: white;
    padding: 15px 0px;
    border-top: 1px solid #ccc;
    bottom:0;
    }
 
    form{
        padding-bottom:0;
        margin-bottom:0;
    }
 
    .form_block option,
    select ,textarea {
        border-radius: 5px;
        border: 1px solid rgb(166, 165, 165);
    }
    .textarea{
        height: 5rem;
        border-radius: 5px;
        border: 1px solid grey;
    }
 
   
 
    {% comment %} Internal form CSS {% endcomment %}
 
    .block-name{
        font-size: large;
        margin-block: 0.9rem;
        padding: 0.5rem;
        background-color: #e8eaec;
        border-radius: 5px;
    }
 
    .block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
        color: black;
        min-width: none;
    }
 
    .sub-block{
        display:grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows:1fr;
    }
 
    .width-100{
        width: 100%;
    }
 
    .input-height{
        height: 2.5rem;
        border-radius: 5px;
        border: 1px solid rgb(166, 165, 165);
    }
 
    .form-select-style{
        height: 2.5rem;
    }
 
    .disable{
        pointer-events:none;
        border: none;
        outline: none;
    }
 
   
    .req-info{
        margin: 1rem;
        text-align: right;
        font-size: 1rem;
    }
    .text-danger{
        color: #d12222;
    }
 
    {% comment %} search box style {% endcomment %}
    .result-box{
        max-height: 70px;
        overflow-y: scroll;
    }
 
    .result-box ul{
        padding: 5px 1px;
    }
 
    .result-box ul li{
        font-size:small;
        list-style: none;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        padding: 5px 1px;
        cursor: pointer;
    }
    .result-box ul li:hover{
        background: #d8d8d854;
        color: rgb(0, 0, 0);
    }
 
    .error-messages{
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        z-index:9999999;
    }
 
 
</style>
 
 
 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
        // Functionality for billing country change
        $('#id_ca_billing_country').change(function() {
            var countryId = $(this).val();
            $.ajax({
                url: '/accounts/get_states_by_country/',  // Correct URL path
                data: {
                    'country_id': countryId
                },
                dataType: 'json',
                success: function(data) {
                    $('#id_ca_billing_state').empty(); // Clear previous options
                    $('#id_ca_billing_state').append('<option value="">Select State</option>'); // Add a default option
                    $.each(data, function(index, state) {
                        $('#id_ca_billing_state').append('<option value="' + state.id + '">' + state.name + '</option>');
                    });
                }
            });
        });
 
        // Functionality for shipping country change
        $('#id_ca_shipping_country').change(function() {
            var countryId = $(this).val();
            $.ajax({
                url: '/accounts/get_states_by_country/',  // Correct URL path
                data: {
                    'country_id': countryId
                },
                dataType: 'json',
                success: function(data) {
                    $('#id_ca_shipping_state').empty(); // Clear previous options
                    $('#id_ca_shipping_state').append('<option value="">Select State</option>'); // Add a default option
                    $.each(data, function(index, state) {
                        $('#id_ca_shipping_state').append('<option value="' + state.id + '">' + state.name + '</option>');
                    });
                }
            });
        });
    });
  </script>
{% endblock %}