<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form with Errors</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Edit Customer Account</h2>

        <!-- Display form errors -->
        {% if form.errors %}
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function() {
                    let errorMessages = '';
                    {% for field in form %}
                        {% if field.errors %}
                            errorMessages += '{{ field.label }}: {{ field.errors|striptags }}\n';
                        {% endif %}
                    {% endfor %}
                    alert(errorMessages);
                });
            </script>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                <h3>&nbsp;<b>Account Information</b></h3>
            </div>
            <div class="popup_c1">
                <div class="popup_c1_b1">
                    <label for="id_ca_name">Account Name:</label>
                    {{ form.ca_name }}

                    <label for="id_ca_phone_number">Phone Number:</label>
                    {{ form.ca_phone_number }}
                </div>
                <div class="popup_c1_b2">
                    <label for="id_ca_record_type">Account Record Type:</label>
                    {{ form.ca_record_type }}

                    <label for="id_ca_account_owner">Account Owner:</label>
                    {{ form.ca_account_owner }}
                </div>
            </div>
            <br />

            <h3>&nbsp;<b>Account Other Information</b></h3>

            <div class="popup_c2">
                <div class="popup_c2_b1">
                    <label for="id_ca_type">Account Type:</label>
                    {{ form.ca_type }}

                    <label for="id_ca_industry">Industry:</label>
                    {{ form.ca_industry }}

                    <label for="id_ca_payment_terms">Payment Terms:</label>
                    {{ form.ca_payment_terms }}
                </div>

                <div class="popup_c2_b2">
                    <label for="id_ca_customer_code">Customer Code:</label>
                    {{ form.ca_customer_code }}

                    <label for="id_ca_description">Customer Description:</label>
                    {{ form.ca_description }}
                </div>
            </div>
            <br />

            <h3>&nbsp;<b>Address Information</b></h3>
            <div class="popup_c3">
                <div class="popup_c3_b1">
                    <label for="id_ca_billing_address">Billing Address:</label>
                    {{ form.ca_billing_address }}

                    <label for="id_ca_billing_country">Billing Country:</label>
                    {{ form.ca_billing_country }}

                    <label for="id_ca_billing_state">Billing State/Province:</label>
                    {{ form.ca_billing_state }}

                    <label for="id_ca_billing_street">Billing Street:</label>
                    {{ form.ca_billing_street }}

                    <label for="id_ca_billing_city">Billing City:</label>
                    {{ form.ca_billing_city }}

                    <label for="id_ca_billing_pin_code">Billing City Pin Code:</label>
                    {{ form.ca_billing_pin_code }}
                </div>

                <div class="popup_c3_b2">
                    <label for="id_ca_shipping_address">Shipping Address:</label>
                    {{ form.ca_shipping_address }}

                    <label for="id_ca_shipping_country">Shipping Country:</label>
                    {{ form.ca_shipping_country }}

                    <label for="id_ca_shipping_state">Shipping State:</label>
                    {{ form.ca_shipping_state }}

                    <label for="id_ca_shipping_street">Shipping Street:</label>
                    {{ form.ca_shipping_street }}

                    <label for="id_ca_shipping_city">Shipping City:</label>
                    {{ form.ca_shipping_city }}

                    <label for="id_ca_shipping_pin_code">Shipping City Pin Code:</label>
                    {{ form.ca_shipping_pin_code }}
                </div>
            </div>
            <br />

            <div class="Submit_buttons_box">
                <button type="submit" class="Submit_buttons">Save</button>
                <a href="{% url 'accounts:customer_accounts_list_view' %}" class="Submit_buttons">Cancel</a>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
