{% extends 'header.html' %}
{% load static %}
 
{% block title %}Account List{% endblock %}
 
{% block extracss %}
    <link rel="stylesheet" href="{% static 'accounts/css/customer_accounts_list_view.css' %}">
{% endblock %}
 
{% block content %}
 
<div class="recent_navbar_box">
 
    <div class="recent_navbar_box_upper">
      <img class="project_icon_logo" src="{% static 'projects/images/project_icon.png' %}" alt="">
      <label for="">Projects</label><br>
      <label style="font-size: larger;" for=""><b>Recently Viewed</b></label>
      <!-- <a  href="selection_window.html" class="new_project_button" ><b>New</b></a> -->
 
      <button class="new_project_button" onclick="openPopup_selection_project()"><b>New </b></button>
 
      <input class="recent_search" type="search" name="" id="" placeholder="  Search">
    </div>
 
  </div>
 
 
  <!-- ---------------- -->
 
  <style>
    {% comment %} new tabel {% endcomment %}
    .this_page_table
{
  border-block: 1px solid rgba(128, 128, 128, 0.685);
  width: 100%;
  border-collapse: collapse;
 
}
 
.table-head-style{
    background-color: #e8eaec;
    border: 1px solid rgba(128, 128, 128, 0.685);
    height: 30px;
}
.table-head-col-style{
    border: 1px solid rgba(128, 128, 128, 0.685);
    text-align: left;
    padding-left:3px;
   
}
 
.table-head-col-style:hover{
    background-color: rgba(201, 201, 201, 0.76);
    color: rgba(0, 0, 0, 0.795);
}
 
.table-row-style{
    height: 0.1rem;
    border-block: 1px solid rgba(128, 128, 128, 0.685);
    padding-block: 1px;
}
 
.body-row-col-style{
    padding-left: 3px;
    padding-top: 0.5%;
}
 
.body-row-col-style:hover{
  background:rgba(201, 201, 201, 0.271);
}
.table-row-style:hover{
    background-color: rgba(201, 201, 201, 0.171);
    border-block: 1px groove rgba(182, 181, 181, 0.753);
    /*height: 0.9rem;*/
    padding: 0px;
 
}
 
.a-tag-style-remove{
  text-decoration: none;
  color: rgb(3, 0, 187);
  font-size: medium;
}
.a-tag-style-remove: hover{
  text-decoration: underline;
 
}
  </style>
 
 
  {% comment %} -------------- new{% endcomment %}
 
  <div>
    <table class="this_page_table">
      <thead class="table-head-style">
          <tr>
              <th class="table-head-col-style"> S No.</th>
              <th class="table-head-col-style"> Projects</th>
              <th class="table-head-col-style">Owner</th>
              <th class="table-head-col-style">Project Type</th>
             
          </tr>
      </thead>
      <tbody class="table-body">
        {% for project in projects %}
 
        {% if project.record_type == "Customer" %}
 
            <tr class="table-row-style">
             
              <td class="body-row-col-style">{{ forloop.counter }}</td>
              <td class="body-row-col-style">
                <a class="a-tag-style-remove" href="{% url 'projects:customer_project_detail_view' project.pk %}">
                  {{ project.cp_name }}
                </a>
              </td>
              <td class="body-row-col-style">{{ project.cp_owner }}</td>
              <td class="body-row-col-style">{{ project.record_type }}</td>
           
          </tr>
 
        {% elif project.record_type == "Vendor" %}
        <tr class="table-row-style">
             
          <td class="body-row-col-style">{{ forloop.counter }}</td>
          <td class="body-row-col-style">
            <a class="a-tag-style-remove" href="#">
              {{ project.vp_name }}
            </a>
          </td>
          <td class="body-row-col-style">{{ project.vp_owner }}</td>
          <td class="body-row-col-style">{{ project.record_type }}</td>
       
      </tr>
 
        {% endif %}
         
          {% endfor %}
      </tbody>
 
    </table>
  </div>
 
  {% comment %} <!-- ---------------- --> {% endcomment %}
 
  <div id="selection_window_project" class="selection_window_project">
    <!-- <a  class="cross" >&times;</a> -->
    <h3>New Project</h3>
 
    <form method="post" action="{% url 'projects:select_project_type' %}">
      {% csrf_token %}
      <h6>Select a record type</h6>
      <div class="account_information_box">
 
        <div class="account_information_box_input">
          <ul>
            <input  type="radio"  name="project_type" value="customer" checked>
            <label for="">Customer</label><br>
 
            {% comment %} <input type="radio" id="name" name="name">
            <label for="">Indirect Expense</label><br><br> {% endcomment %}
 
            <input type="radio" name="project_type" value="vendor">
            <label for="">Vendor</label>
          </ul>
 
        </div>
 
 
 
        <div class="Submit_buttons_box">
          <!-- <button  class="Submit_buttons" >Next</button> -->
          <a href="{% url 'projects:customer_project_list_view' %}" class="Submit_buttons">Cancel</a>
          <button type="submit" class="Submit_buttons">Next</button>
         
 
        </div>
    </form>
 
  </div>
 
  <style>
    *{
        font-family: Arial, Helvetica, sans-serif;
    }
   
    .recent_navbar_box {
        width: 100%;
        /* border: 1px solid red; */
 
       
    }
   
    .project_icon_logo {
        background-color: rgb(231, 40, 40);
        border-radius: 2px;
        width: auto;
        height: 35px;
        float: left;
        margin: 5px;
        margin-right: 10px;
     
    }
   
    .recent_navbar_box_upper {
        height: 80px;
        width: auto;
        background-color: #e8eaec;
        padding: 5px;
        border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
   
    .recent_navbar_box_upper .recent_search{
        float: right;
        border-radius: 5px;
        border: 1px solid gray;
        width: 20%;
        margin-right: 1%;
        padding: 5px;
    }
   
    .recent_search:focus{
        outline: none; /* Remove default outline */
        box-shadow: 0 0 10px #d1a2a2;  
    }
   
    .new_project_button{
        float: right;
        background-color: white;
        color: #d12222;
        border-radius: 5px;
        padding: 5px 15px;
        text-decoration: none;
        border:1px solid #d12222;
       
    }
   
    .new_project_button:hover{
    background-color: #d12222;
    color: white;
    }
   
   
    /* ---------------testing */
   
    .selection_window_project {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 9999;
        width: 600px;
        max-height: 80%;
        overflow-y: auto;/* Enable vertical scrollbar when content exceeds the maximum height */
    }
   
    .selection_window_project_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }
   
    .cross {
        color: #aaa;
        float: right;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
   
    .cross:hover,
    .cross:focus {
        color: #e90909;
        text-decoration: none;
        cursor: pointer;
    }
   
    .account_information_box  {
        margin-left: 30%;    
    }
   
   
   
    .selection_window_project .Submit_buttons {
      background-color: rgb(161, 155, 155);
      color: white;
      border-radius: 3px;
      border: none;
      padding: 0.4rem 0.8rem;
      text-decoration: none;
  }
 
  .selection_window_project .Submit_buttons:hover{
      background-color: rgb(128, 125, 125);
  }
   
   
    .selection_window_project .Submit_buttons_box {
      display:flex;
      justify-content:flex-end;
      gap:0.5rem;
      background: white;
     
    }
       
  </style>
 
 
  <script src="{% static "projects/js/customer_projects_list_view.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
 
{% endblock %}